.baggage {
  width: 100%;
  padding: 30px 30px 50px;
  text-align: center;
}

.baggage > h2 {
  margin-bottom: 10px;
}

.baggage > h4 {
  margin-bottom: 40px;
  font-weight: 400;
}

.baggage__cards-list {
  display: flex;
  justify-content: space-evenly;
  height: 80%;
}
