.app__header {
  margin-bottom: 50px;
}

.app__logo {
  margin: 16px;
  float: left;
}

.app__steps {
  padding: 0 50px;
}

.app__content {
  margin: 50px auto;
  height: 100vh;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 5px;
}

.app__footer {
  text-align: center;
}
